@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

header{
    padding: 16px;
    height: 100px;
}

legend{
    margin-bottom: 8px;
}

.content{
    
}

.calculator{
    background: #E7F2F8;
}

.sum-input{
    width: 375px;
}
.years-input{
    width: 450px;
}

.white-button{
    background: #fff;
}

.main-button{
    background-color: #74BDCB;
}

.input-group-bg{
    padding: 8px;
    border-radius: 8px;
    background-color: #bce5ed;
    margin-bottom: 16px;
}

.content-block{
    padding: 16px;
}

.result-block{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    padding-top: 12px;
    border-top: 1px solid #bce5ed; 
}

footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    font-size: 14px;    
}

.footer-content{
    width: 80%;
    padding: 24px;
}

.copyright{

}

.copyright .copyright-text{
    display: flex;
    align-items: center;
    color: #424245;
}

.copyright .copyright-text img{
    margin-right: 3px;
}

.footer-content .links{
    margin: 8px 0;
}

.footer-content .links a{
    margin-right: 8px;
    position: relative;
    color: #424245;
}

.footer-content .links a:after{
    content: "|";
    position: absolute;
    right: -7px;
}

/* стили для графика - не трогать */
.graph {
    width: 900px;
}