@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    font-size: 15px;  
}

.card{
    border: 1px solid #bce5ed;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    font-weight: 700;
    margin: 16px;
    color: #666;    
}

.result-block{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    padding-top: 12px;
    border-top: 1px solid #bce5ed; 
}

footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    font-size: 14px;  
    padding-bottom: 24px;  
}

.copyright .copyright-text{
    display: flex;
    align-items: center;
    color: #424245;
}

.copyright .copyright-text img{
    margin-right: 3px;
}

.y.axis > g > text {
    font-size: 8px;
}

#special-above, #special-below {
    /* filter: brightness(50%) */
    font-weight: bold;
}

#special-above {
    color: #666;
}

#special-below {
    color: #666;
}

.total-cell{
    color: #bce5ed;
}

.first_row{
    text-align: right;
}

.links a{
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    color: #424245;
}

.links a:after{
    content: "|";
    margin-left: 5px;
}

.links a:last-of-type:after{
    content: "";
}